<div class="row">
          <div class="col-md-12">
              <div style="color:white;padding-top:140px;padding-bottom:100px;padding-left:100px;padding-right:0px;background-color:#370274;position:relative;z-index:7;">
                  <div class="row">
                      <div class="col-md-7">
                          <div class="border:1px solid white;">
                          <ul style="list-style-type:none;margin-left:-40px;">
                              <li><img src="../web/img/logo.png" style="width:110px;height:130px;margin-left:19px;" /><li>
                              <li><span style="font-size:37px;">NovHotel</span></li>
                          </ul>
                          </div>
                      </div>
                      <div class="col-md-5">
                          <div style="">
                              <form>
                              <label style="font-size:32px;font-weight:bold;margin-bottom:40px;" for="email">Souscrivez à notre Newsletter</label>
                              <div class="input-group">
                                      <input type="text" class="form-control-lg" placeholder="" id="email" style="border:0px solid transparent;">
                                      <div class="input-group-append"><span class="input-group-text" style="font-size:20px;margin-left:-2px;padding-left:30px;padding-right:30px;background-color:#004D8A;border:1px solid #004D8A;color:white;">Souscrire</span></div>
                                </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>